html
    head
        title= title
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css")
    body.container
        h2 Login
        p Please login to continue
        form(method="POST").form-group
            lable(for="username") Username
            input(type="text" name="username" placeholder="username").form-control
            br
            lable(for="password") Password
            input(type="password" name="password" placeholder="password").form-control
            br
            input(type="submit" value="login").btn.btn-primary
            br
            br
            p
                a(href='/forgotPassword') forgot password?
            p Don't have account
            p 
                a(href="register") register here